#OrderStormFloatingMessageWrapper
{
	top:0px;
	position: relative;
	display:none;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
}

#OrderStormFloatingMessage
{
	min-width: 200px;
	position: absolute;
	top: 0;
	margin-top: 5px;
	padding: 4px 0 4px 0;
	border: 1px solid orange;
	background-color: #FFF1A8;
	color: black;
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#OrderStormFloatingMessage.fixed
{
	position: fixed;
	top: 0;
}

#OrderStormFloatingMessage p
{
	width: 590px;
	margin-left: auto;
	margin-right: auto;
}
